{%extends "main/base.html" %}
    {%block title%}Premier League Matches{%endblock%}

    {%block content %}
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f4f4f4;
        }
    </style>
<body>
    <h1>Premier League Matches for March 2025</h1>

    {% if matches %}     
    <div class="d-flex flex-column gap-3 text-center p-3">
        {% for match in matches %}         
        {% {{}} %}        <div class="d-flex flex-column match-box p-3 rounded shadow-lg">
            <p class="text-muted"style="color: white !important;">{{ match.match_date }}</p>
            <div class="d-flex align-items-center text-center justify-content-between">
                <img class="team-logo mb-2" src="{{ match.home_crest }}" alt="{{ match.home_team }} crest">
                <h6 class="mb-2">  {{ match.home_team }}  </h6>
                <h4 class="shadow-3 fw-bold my-2">(<strong>{{match.score_home }}</strong>:<strong>{{ match.score_away }}</strong>)</h4>
                <h6>  {{ match.away_team }}  </h6>
                <img class="team-logo mb-2" src="{{ match.away_crest }}" alt="{{ match.away_team }} crest">
            </div>
            <p class="fw-bold my-2">{{match.match_time}}</p>

        </div>
        {% endfor %}
    </div>
    {% else %}
        <p class="alert alert-info text-center">No matches found for this month.</p>
    {% endif %}          
</body>
{%endblock%}


