{%extends "main/base.html"%}
{%block title%} LOG IN {%endblock%}

{%block content%}
<div class="container d-flex flex-column justify-contact-center align-items-center">
    <h2 class="mb-3">Log in </h2>
    <form class="d-flex flex-column gap-3 w-50 " action="{%url 'accounts:login_view' %}" method="post" enctype="multipart/form-data">
        {%csrf_token%}

        <div class="form-floating">
            <input type="text" class="form-control" name="username" id="foatingInput" placeholder="username" required>
            <label for="floatingInput">username</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" name="password" id="foatingInput" placeholder="..." required >
            <label for="floatingInput">Password</label>
        </div>
        <div>
            <input type="submit" class="btn btn-primary w-100 py-2" value="log in" >
        </div>
    </form>
    <p>don't have an account ?  <a  href="{% url 'accounts:signup_view' %}">register here</a></p>

</div>
{%endblock%}